<h1>Your Cart</h1>

<%= link_to 'Empty your car', cart_clear_path %>

<br></br>

<ul>
<% @cart.each do | id,quantity | %>
    
    
    <% product = Product.find_by_id(id) %>
    
    
   
    <li><%= link_to product.title, product %></li>
    <p><%= product.description  %></p>
    <p><%= number_to_currency( product.price, :unit => '$') %></p>


   
<% end %>

</ul>

